@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

:root {
  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);
  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: 15px;
}

main {
    width: 1300px;
    margin: 0 auto;
    padding: 70px
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.desktop {
    display: flex;
    gap: 40px;
    
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--Grayish-blue);
    font-weight: 700;
}

a:hover {
    cursor: pointer;
    color: var(--Soft-red);
}

.main-container {
    display: grid;
    gap: 30px;
}

.web {
    width: 100%;
    grid-column: 1/ span 2;
}

.dark {
    grid-column: 3;
    grid-row: 1 / 3;
    background-color: var(--Very-dark-blue);
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2 {
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--Soft-orange);
}

h4 {
    color: var(--Off-white);
    font-size: 1.4rem;
}

.separator {
    border-bottom: 2px solid var(--Dark-grayish-blue);
}

h1 {
    grid-row: 2;
    grid-column: 1;
    font-weight: 800;
    font-size: 3.7rem;
    line-height: 3.5rem;
    color: var(--Very-dark-blue);

}

p {
    color: var(--Dark-grayish-blue);
    line-height: 1.5rem;
    font-weight: 700;
}

.small-container {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.read {
    all: unset;
    background-color: var(--Soft-red);
    height: 3rem;
    width: 50%;
    text-align: center;
    color: var(--Off-white);
    letter-spacing: 4px;
    font-size: 0.9rem;
    font-weight: 700;
}

.read:hover {
    background-color: var(--Very-dark-blue);
    cursor: pointer;
}

.bottom-left {
    grid-row: 3;
    grid-column: 1;
}


.bottom-center {
    grid-row: 3;
    grid-column: 2;
}


.bottom-right  {
    grid-row: 3;
    grid-column: 3;
}

.section {
    display: flex;
    margin-top: 60px;
}

.section-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
}

h3 {
    color: var(--Grayish-blue);
    font-size: 2.5rem;
}

h5 {
    font-size: 1.2rem;
    font-weight: 800;
    color: var(--Very-dark-blue);
}

h5:hover {
    cursor: pointer;
    color: var(--Soft-red);
}

.small-img {
    height: 130px;
}

.hamburger {
    height: 40px;
    width: 40px;
    cursor: pointer;
    background-image: url(assets/images/icon-menu.svg);
    background-color: white;
    background-repeat: no-repeat;
    appearance: none;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    z-index: 5;
    display: none;
}

.hamburger.is-active {
    transition: 0.4s;
    background-image: url(assets/images/icon-menu-close.svg);
}

.mobile-nav {
    position: fixed;
    top: 0;
    right: 200%;
    width: 70%;
    min-height: 100vh;
    z-index: 2;
    background-color: var(--Off-white);
    align-items: baseline;
}

.mobile-nav.is-active {
    right: 0;
    transition: 0.4s;
}

.mobile {
    margin-top: 150px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.mobile-a {
    color: var(--Very-dark-blue);
    font-size:1.2rem;

}